.news-item{
    background: #fff;
    padding: 20px;
}
.item-content img{
    width: 100%;
    height: 100%;
}
.item-content{
    width: 100%;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
}
.author-info-wrapper img{
    width: 138px;
    height: 138px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.author-name{
    max-width: 180px;
    font-size: 20px;
    margin-bottom: 8px;
    text-align: center;    
}
.author-country{
    color: grey;
}
.upload-info-wrapper{
    color: grey;
    margin-top: 20px;
}
.news-item {
    margin-top: 30px;
}