<mat-toolbar *ngIf="!isHidden">
    <div class="container d-flex justify-content-between align-items-center">
            <div class="wrap-helper d-flex align-items-center">
                <div class="logo"><a routerLink="/"><img src="/assets/logo.png" alt=""></a></div>
                <app-header-nav></app-header-nav>
            </div>
        
        <div class="wrap-helper d-flex align-items-center">
            <app-notifications></app-notifications>
            <app-user-control 
                [avatar]="userAvatar"
                [userId]="userId"
            ></app-user-control>
        </div>
    </div> 
</mat-toolbar>
