<form class="signup-form"
[formGroup]="signUpForm"
(ngSubmit)="onSubmit()"
>
  <mat-form-field class="w-50">
    <input
      matInput
      placeholder="First name"
      formControlName="first_name"
    >
    <mat-error *ngIf="signUpForm.get('first_name').hasError('required')">
      First name is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="w-50">
    <input
      matInput
      placeholder="Last name"
      formControlName="last_name"
    >
    <mat-error *ngIf="signUpForm.get('last_name').hasError('required')">
      last name is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="w-50">
      <input
        matInput
        placeholder="nickname"
        formControlName="nickname"
      >
      <mat-error *ngIf="signUpForm.get('nickname').hasError('required')">
        nickname is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  <mat-form-field class="w-50">
    <input
      matInput
      placeholder="email"
      formControlName="email"
    >
    <mat-error *ngIf="signUpForm.get('email').hasError('required')">
      email is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="w-50">
    <input
      matInput
      placeholder="Password"
      formControlName="password"
    >
  </mat-form-field>
  <mat-form-field class="w-50">
    <input
      matInput
      placeholder="Repeat Password"
      formControlName="repeatPassword"
      [errorStateMatcher]="matcher"
    >
    <mat-error *ngIf="signUpForm.get('repeatPassword').hasError('required')">
      Password is <strong>required</strong>
    </mat-error>
    <mat-error *ngIf="signUpForm.get('repeatPassword').hasError('notEqual') && !signUpForm.get('repeatPassword').hasError('required')">
      Passwords not equal
    </mat-error>
  </mat-form-field>
  
  
  <mat-form-field class="w-50">
    <input
      matInput
      placeholder="phone"
      formControlName="phone"
    >
    <mat-error *ngIf="signUpForm.get('phone').hasError('required')">
      phone is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  
  
  <div class="w-50 radio-form">
    <mat-radio-group aria-label="Select an option" formControlName ="gender_orientation">
        <mat-radio-button value="male" checked>male</mat-radio-button>
        <mat-radio-button value="female">female</mat-radio-button>
      </mat-radio-group>
  </div>


  <mat-form-field class="w-50">
    <input
      matInput
      placeholder="city"
      formControlName="city"
    >
    <mat-error *ngIf="signUpForm.get('city').hasError('required')">
      city is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="w-50">
    <input
      matInput
      placeholder="country"
      formControlName="country"
    >
    <mat-error *ngIf="signUpForm.get('country').hasError('required')">
      country is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="w-30">
    <input
      matInput
      placeholder="day"
      formControlName="date_of_birth_day"
    >
    <mat-error *ngIf="signUpForm.get('date_of_birth_day').hasError('required')">
      day is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="w-30">
    <input
      matInput
      placeholder="month"
      formControlName="date_of_birth_month"
    >
    <mat-error *ngIf="signUpForm.get('date_of_birth_month').hasError('required')">
      Fmonth is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="w-30">
    <input
      matInput
      placeholder="year"
      formControlName="date_of_birth_year"
    >
    <mat-error *ngIf="signUpForm.get('date_of_birth_year').hasError('required')">
      year is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <p *ngIf="signUpForm.hasError('notEqual')">
    Password not equal
  </p>

  <button mat-raised-button color="primary" class="submit-btn" >Signup</button>
</form>