<div class="tabs-wrap d-flex justify-content-between">
  <a href="#" class="tab active-tab d-flex flex-column align-items-center">
    <div class="tab-count">{{ user?.my_images.length }}</div>
    <div class="tab-name">No. selfies</div>
  </a>
  <a href="#" class="tab d-flex flex-column align-items-center">
    <div class="tab-count">{{ user?.glories.length }}</div>
    <div class="tab-name">My Glories</div>
  </a>
  <a href="#" class="tab d-flex flex-column align-items-center">
    <div class="tab-count">{{ user?.favourites.length }}</div>
    <div class="tab-name">Favourites</div>
  </a>
  <a href="#" class="tab d-flex flex-column align-items-center">
    <div class="tab-count">{{ user?.followers.length }}</div>
    <div class="tab-name">Followers</div>
  </a>
  <a href="#" class="tab d-flex flex-column align-items-center">
    <div class="tab-count">{{ user?.followings.length }}</div>
    <div class="tab-name">Followings</div>
  </a>
</div>