/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~primeicons/primeicons.css";
@import "~primeng/resources/themes/nova-light/theme.css";
@import "~primeng/resources/primeng.min.css";

/* Default classes */
.w-100 {
  width: 100%;
}
.w-50 {
  width: 45%;
}
.w-30 {
  width: 30%;
}
.signup-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
body {
  margin: 0;
}

