.inner-wrap{
    height: calc(100vh - 95px - 125px);
}
.home-info{
    max-width: 400px;
    padding: 20px;
    background-color: rgba(0, 0, 0, .7);
    color: white;
    height: calc(100vh - 95px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.home-info span {
    font-size: 20px;
}
.home-info h1 {
    font-size: 55px;

}
.sub-title {
    font-size: 32px !important;
    color: #c506c5;
    font-style: italic;
    font-weight: bold;
    display: block;
}
.inner-info{
    height: 125px;
    background: #212121;
}
.inner-info ul{
    display: flex;
    justify-content: center;
    padding-left: 0;
}
.inner-info li{
    display: inline;
    color: white;
}
.inner-info li::after{
    content: "";
    display: inline-flex;
    margin: 0 20px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #fff;
}
.inner-info li:last-child::after{
    display: none;
}
.inner-info .info-desc{
    color: white;
    display: flex;
    justify-content: center; 
}